@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --alternative-color:#001511;
    --primary-color:#1FB19B;
    --secondary-color:#207E70;
    --text-color:#C5C5C5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AlegreyA", sans-serif;;
}

/* HEADER */
.logo_header img{
    width: 250px;
}
.header, .navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header{
    padding: 1% 10% 1% 10%; 
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.navigation_header a{
    text-decoration: none;
    color: var(--text-color);
    transition: 1s;
    font-weight: bold;
    font-size: 25px;
}
.navigation_header a:hover{
    color: var(--secondary-color);
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--alternative-color);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}