@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --alternative-color:#001511;
    --primary-color:#1FB19B;
    --secondary-color:#207E70;
    --text-color:#C5C5C5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AlegreyA", sans-serif;;
}

/* HEADER */
.logo_header img{
    width: 250px;
}
.header, .navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header{
    padding: 1% 10% 1% 10%; 
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.navigation_header a{
    text-decoration: none;
    color: var(--alternative-color);
    transition: 1s;
    font-weight: bold;
    font-size: 25px;
}
.navigation_header a:hover{
    color: var(--secondary-color);
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--alternative-color);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}

/*SECTION QUEM SOMOS? */
.quem-somos{
    padding: 0 20px;
    text-align: center;
    height: 90vh;
}

.content-quem{
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    padding: 40px;
    gap: 20px;
}

.left-quem{
  width: 50%; /* ajuste conforme o tamanho desejado */
  height: 400px;
  background-color: #1FB19B;
  object-fit: cover;
}

.right-quem {
  justify-content: center;
  padding: 40px 50px;
  width: 50%;
  font-size: 1.2rem;
}

.title-quem {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.title-quem {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid var(--alternative-color);
    border-radius: 20px;
    font-size: 20px;
    color: var(---azul);
    margin-bottom: 10px;
}

/*SECTION CONHEÇA NOSSOS FUNDADORES */
.fundadores {
  padding: 40px 20px;
  background-color: white;
  text-align: center;
  height: 90vh;
}

.title-fundadores {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid var(--alternative-color);
    border-radius: 20px;
    font-size: 20px;
    color: var(---azul);
    margin-bottom: 10px;
}

.membros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.membro {
  max-width: 180px;
  background-color: var(--primary-color);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.membro img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.membro h3 {
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: white;
}

.membro p {
  font-size: 0.85rem;
  color: var(--preto);
  margin-bottom: 12px;
}

.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contato button {
  background-color: var(--secondary-color);
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  font-size: 0.75rem;
  cursor: pointer;
}

.contato a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

/*SECTION NOSSA MISSÃO */
.missao{
    background-color: blue;
}

/*SECTION NOSSA VISÃO */
.visao{
    background-color:red;
}

/*SECTION NOSSOS VALORES */
.valores{
    background-color: blue;
}

/*SECTION POR QUE ESCOLHER A ELEVARE */
.pq-escolher{
    background-color: red;
}

/*SECTION ENTRE EM CONTATO */
.entre-contato{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
}
.contato-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 200px;
}
.contato-left {
  flex: 1;
}
.contato-subtitle {
  color: black;
  font-size: 14px;
  margin-bottom: 12px;
}
.contato-title{
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--alternative-color);
}
.contato-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contato-desc {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
  max-width: 400px;
}
.btn-contato {
  background-color: var(--primary-color);
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease;
  width: fit-content;
}
.btn-contato:hover {
  background-color: var(--secondary-color);
}

/* FOOTER */
#copyright{
    display: flex;
    justify-content: center;
    background-color: var(--alternative-color);
    font-size: 20px;
    padding: 25px;
    font-weight: 500;
    border-top: 1px solid var(--secondary-color);
    color: var(--text-color);
}